@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@200&family=Pangolin&display=swap');

#Post{
    color: #72886D;
    font-family: "Pangolin";
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
body{
    background-color: #5A5A62;
    margin: 0;
}
p,figcaption{
    font-family: 'Inter', sans-serif;
}
h1,h2{
    font-family: 'Inter Tight', sans-serif;
}
header, footer{
    display: flex;
    background-color: rgba(52, 53, 60, 1);
    position: relative;
}
.pos_fix{
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 0;
}
.orig{
    justify-content: space-around;
    align-items: center;
}
.links{
    display: inline-flex;
    justify-content: space-evenly;
    padding: 0px 100px;
    width: 40%;
}
.links>a{
    text-decoration: none;
    color: #648F63;
    font-size: 0.9vw;
}
footer{
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}
main{
    border-radius: 20px;
    background-color: #6A6D79;
    padding: 0.5vw 1vw;
    margin: 20px;
    display: block;
}
article{
    padding: 20px 0;
}
a{
    text-decoration: none;
    color: #78C677;
}
figure{
    border-radius: 20px;
    border: 20px solid #5668558A;
    background-color: #5668558A;
}
figure>figcaption{
    padding-top: 1%;
}
article{
    align-items: center;
}
article>p,h2,.cont>p{
    color: white;
    font-size: 1.5vw;
}
article>h1,.cont>h1{
    color: #78C677;
    font-size: 2vw;
}
figure>figcaption{
    color: #7FD07D;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #5668558A;
}
#start{
    display: flex;
    justify-content: center;
    padding: 2%;
}
#start>.cont>h2{
    width: 70%;
}
#start>.cont>img{
    padding-left: 49%;
}
.start_video{
    padding-right: 2%;
    width: 70%;
    align-self: normal;
}
#start>hr{
    width: 80vw;
    border: 0.5vw solid #648F63;
    background-color: #648F63;
    display: none;
}
#whatis{
    padding: 2%;
}
#whatis>p{
    width: 60%;
}
#story{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    
}
#new>.cont{
    text-align: end;
    padding-right: 3%;
    padding-top: 5%;
}
#new{
    display: flex;
    justify-content: space-between;
}
.foto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.SNG,#my{
    text-align: center;
}
@media (max-width: 1500px) {
    #story, #new{
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .start_video{
        padding-right: 0;
        padding-left: 3%;
    }
    #new>.cont{
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-right: 0;
    }
    .links>a, .up_text>a{
        font-size: 1.2vw;
    }
    #Post{
        font-size: 3vw;
    }
}
@media (max-width: 1340px) {
    body{
        overflow-x: hidden;
    }
    #start>.cont>img{
        display: none;
    }
    .Text_post{
        padding: 2%;
    }
    .pos_fix>.links{
        justify-content: center;
    }
    #start, #whatis>p, #whatis{
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    #new>.cont{
        padding: 0 1vw;
    }
    .start_video, #start>.cont>h2, .art>figure>img, .foto>figure>img, #whatis>p, #whatis{
        width: 100%;
    }
    #whatis{
        margin-left: 0;
        padding-left: 0;
    }
    .links{
        width: 70%;
        padding: 0 0;
    }
    .links>a{
        padding: 0 2%;
    }
    .links>a, .up_text>a{
        font-size: 2vw;
    }
    #Post{
        font-size: 3.5vw;
    }
    figcaption{
        font-size: 1.5vw;
    }
    article>p,h2,.cont>p{
        font-size: 2vw;
    }
    article>h1,.cont>h1{
        font-size: 2.5vw;
    }
    #start>hr{
        display:inline;
    }
    .start_video{
        padding-right: 2%;
        padding-left: 0;
    }
}